body
{
	background-color: rgb(201,254,101);
	display: flex;
	flex-direction: column;
	font-family: Georgia, sans-serif;
}

header, nav, section, footer
{
	border: 6px black groove;
	box-shadow: 10px 10px 15px black;
}

#conteneur
{
	width: 2000px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 5px yellow solid;
	margin: 2cm;
	padding: 2cm;
}

#conteneur section:nth-child(2n+1)
{
	background-color: yellow;
	align-self: flex-end;
}

h1
{
	text-shadow: 10px 10px 15px black;
	text-decoration: underline;
}

header
{
	width: 99.5%;
	height: 4cm;
	background-color: rgb(252,162,27);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}

nav
{
	width: 15%;
	height: 7cm;
	background-color: rgb(255,94,53);
	padding: 0.5cm;
	margin: 1.5cm;
}

section
{
	width: 30%;
	height: 10cm;
	background-color: rgb(73,183,241);
	overflow: auto;
	padding:1cm;
	margin: 1cm;
}

footer
{
	width: 99%;
	height: 3cm;
	background-color: rgb(31, 159, 9);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

section img
{
	width: 3cm;
	height: 3cm;
}

footer img
{
	width: 2cm;
	height: 1.5cm;
}
